body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u1284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:inherit;
  background-color:rgba(81, 90, 110, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CFD1D6;
  text-align:left;
}
.u1284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  display:flex;
  color:#CFD1D6;
  text-align:left;
}
.u1284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 45px;
  box-sizing:border-box;
  width:100%;
}
.u1284_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:inherit;
  background-color:rgba(53, 62, 79, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CFD1D6;
  text-align:left;
}
.u1284.mouseOver {
}
.u1284_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:inherit;
  background-color:rgba(52, 62, 80, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CFD1D6;
  text-align:left;
}
.u1284.selected {
}
.u1284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1283-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u1283-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:260px;
  height:50px;
}
#u1283-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:260px;
  height:50px;
}
#u1283-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:260px;
  height:50px;
}
#u1283-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:260px;
  height:50px;
}
#u1283-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:260px;
  height:50px;
}
#u1283-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:260px;
  height:50px;
}
#u1283-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:260px;
  height:50px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:185px;
  width:260px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:246px;
  width:300px;
  height:170px;
}
#u1285_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
.u1287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1286-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1286-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1286-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1286-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u1286-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u1286-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:958px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:42px;
  width:536px;
  height:958px;
  display:flex;
}
#u1288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:67px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:417px;
  width:238px;
  height:67px;
  display:flex;
}
#u1289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:435px;
  width:309px;
  height:32px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u1290 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#7F7F7F;
  text-align:center;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:482px;
  width:404px;
  height:56px;
  display:flex;
  font-size:20px;
  color:#7F7F7F;
  text-align:center;
}
#u1291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
